body{
    background-color: #FBFBFF;
}

.font-poppins{
    font-family: poppins;
    font-size: 15px;
}

.contain-nav{
    background-color: #235789;
}

.input-form{
    width: 180px;
}

.form-search{
    justify-content: right;
}

.menu-drop{
    background-color: #235789;
}

.text-pilihan{
    color: white; 
}

.menu-data{
    border-bottom: solid #B80C09;
    font-weight: 500;
}

.text-pilihan:hover{
    color: white;
    border-bottom: solid #B80C09;
    font-weight: 500;
}

.text-pilihan:active{
    color: white;
    border-bottom: solid #B80C09;
    font-weight: 500;
}

.text-pilihan:visited{
    color: white;
    border-bottom: solid #B80C09;
    font-weight: 500;
}

.pilihan-drop:hover{
    background-color: #B80C09;
}

.accordion-item{
    background-color: #CAF0F8;
}

.accordion-button{
    background-color: #235789;
    color: white;
}

.acc2{
    background-color: #01BAEF;
}

.accordion-button:not(.collapsed){
    background-color: #235789;
    color: white;
}

.acc2:not(.collapsed){
    background-color: #01BAEF;
    color: white;
}

#judul-layanan{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

.garis-judul{
    width: 210px;
}

.btn-lihat{
    float: right;
    background-color: #a50000;
    color: white;
    margin-top: -5px;
}

.btn-lihat:hover{
    background-color: #860000;
    color: white;
}

.btn-lihat:active{
    background-color: #660000;
    color: white;
}

.btn-lihat:focus{
    background-color: #660000;
    color: white;
}

.accordion-body{
    border-bottom: solid #01BAEF;
}

.garis{
    border: solid #47b2f0;
}

.footer-section{
    background-color: #235789;
}

.garis-footer{
    width: 200px;
    border-top: solid #A50000;
}

.img-footer{
    width: 120px;
}

.garis-akhir{
    border: solid #A50000;
    width: 1352px;
    margin-left: -15px;
}

#cp-footer{
    background-color: #235789;
}

@media (min-width: 1349px) {
    .penutup{
        height: 95px;
    }
}


@media (max-width: 960.00px) {
    .penutup{
        height: 190px;
    }
}